body {
    overflow-x: hidden;
    font-family: SansSerifBldFLF;
    margin: 0;
    padding: 0;
    height: 100%;
}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.p0 {
    padding: 0 !important;
}

.m0 {
    margin: 0 !important;
}

.bottom20 {
    margin-bottom: 20px;
}

.zero, .row {
    padding: 0!important;
    margin: 0!important;
}

.boslukDiv {
    height: 40px;
}

.aktif {
    color: #52b7cc!important;
}

.displayBlock {
    display: block!important;
}

a {
    text-decoration: none!important;
    color: #101010;
}

li {
    list-style-type: none;
}

.gm-style-cc{
    display: none;
}

.pr0{
    padding-right: 0;  
}

.pb5{
    padding-bottom: 5px;  
}